*{
    margin: 0;
    padding: 0;
}

.top__menu{
    position: fixed;
    width: 533px;
    height: 17px;
    top: 51px;
    left: 858px;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    justify-content: flex-end;
  
}

.link__menu{
    padding: 15px;
}

.link__menu__getstarted{
    position: absolute;
    width: 66px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color:#faf6f6;
    
    
}

.rectangle_1{
    position: fixed;
    width: 120px;
    height: 40px;
    top: 40px;
    left: 1425px;
    /* border-radius: 30px; */
    
}

.init__logo{
    position: fixed;
    width: 35px;
    height: 40px;
    top: 40px;
    left: 375px;
    
}

.logo__text{
    position: fixed;
    width: 88px;
    height: 30px;
    top:  45px;
    left:  424px;
    font-family: Gilroy-Bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    

}

.pngfind_1{
    position: fixed;
    top: 162.71px;
    left: 935.94px;
    width: 544.81px;
    height: 374.84px;
}

.header_1{
    position: fixed;
    width: 522px;
    height: 222px;
    top: 223px;
    left: 373px;
    font-family: Gilroy-Bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;

}

.paragraph_1{
    position: fixed;
    width: 466px;
    height: 48px;
    top: 462px;
    left: 373px;
    font-family: Gilroy-Medium;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;


}

.rectangle_3{
    position: fixed;
    width: 140px;
    height: 50px;
    top: 547px;
    left: 375px;
    border-radius: 50px;
}

.button_text_2{
    position: fixed;
    width: 69px;
    height: 19px;
    top: 562px;
    left: 410px;
    font-family: Gilroy-Bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;


}

.icon_1{
    position: fixed;
    width: 30px;
    height: 30px;
    top: 557px;
    left: 542px;
    

}

.paragraph_2{
    position: fixed;
    width: 90px;
    height: 19px;
    top: 562px;
    left: 587px;
    font-family: Gilroy-Bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;


}


.dev__link__1{
    position: fixed;
    width: 160px;
    height: 50px;
    top: 797px;
    left: 345px;

}

.dev__link__2{
    position: fixed;
    width: 160px;
    height: 50px;
    top: 797px;
    left: 553px;

}

.dev__link__3{
    position: fixed;
    height: 50px;
    width: 160px;
    top: 797px;
    left: 761px;

}

.dev__link__4{
    position: fixed;
    width: 160px;
    height: 50px;
    top: 797px;
    left: 969px;

}

.dev__link__5{
    position: fixed;
    width: 160px;
    height: 50px;
    top: 797px;
    left: 1177px;

}

.dev__link__6{
    position: fixed;
    width: 160px;
    height: 50px;
    top: 797px;
    left: 1385px;

}